/* Variables */
:root{
    /* Header height */
    --header_height: 13vh;

    /* Colors */
    --white: #E0F4FF;
    --light_blue: #87C4FF;
    --blue: #39A7FF;
    --beige: #FFEED9;

    /* Transition */
    --fast: .2s;

    /* Device sizes */
    /* Sizes where taken from: https://tailwindcss.com/docs/responsive-design */
    --s: 640px;
    --m: 768px;
    --l: 1024px;
    --xl: 1280px;
    --xxl: 1536px;
}

html{
    scroll-behavior: smooth;
}