/* Imports */
@import url('general_styles.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* Variables */
/* @link https://utopia.fyi/type/calculator?c=320,18,1.25,1240,20,1.333,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,4 */
:root{
    --step--2: clamp(0.7038rem, 0.7257rem + -0.0283vw, 0.72rem);
    --step--1: clamp(0.9rem, 0.887rem + 0.0652vw, 0.9375rem);
    --step-0: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
    --step-1: clamp(1.4063rem, 1.3158rem + 0.4522vw, 1.6663rem);
    --step-2: clamp(1.7581rem, 1.597rem + 0.8054vw, 2.2213rem);
    --step-3: clamp(2.1975rem, 1.9321rem + 1.3272vw, 2.9606rem);
    --step-4: clamp(2.7469rem, 2.3295rem + 2.087vw, 3.9469rem);
    --step-5: clamp(3.4331rem, 2.7975rem + 3.1783vw, 5.2606rem);
}

/* General */
body{
    font-family: 'Times New Roman', Times, serif;
    font-size: var(--step-0);
}

/* Nav */
.logo{
    font-size: var(--step-3);
}

.nav-item{
    font-size: var(--step-1);
    font-weight: 500;
}

.dropdown-button{
    font-weight: 500;
}

.dropdown-menu-li{
    font-size: var(--step-0);
}


/* Home */
.title{
    font-size: var(--step-4);
    font-weight: 800;
}

.subtitle {
    font-size: var(--step-1);
    font-weight: 700;
}


/* CLUBS */

.clubs-title{
    font-size: var(--step-4);
    font-weight: 800;
}

.clubs-info p{
    font-size: var(--step-0);
}

.clubs-generic-section h2{
    font-size: var(--step-2);
    font-weight: 700;
    text-decoration: underline;
}

.carousel-buttons{
    font-size: var(--step-4);
}

/* CONTACT */

.contact-title{
    font-size: var(--step-4);
    font-weight: 800;
}

.contact-text {
    font-size: var(--step-0);
}

/* Footer */
.footer-div h3{
    font-size: var(--step-3);
}

/* Chatzopoulos personal */
.ch-general-section h1{
    font-size: var(--step-4);
}

.ch-general-section h2{
    font-size: var(--step-3);
}

.ch-general-section i{
    font-size: var(--step-5)
}

.ch-general-section span{
    font-size: var(--step-3);
}

.ch-general-section p{
    font-size: var(--step-1);
}