/* Variables */
:root{
    /* Header height */
    --header_height: 13vh;

    /* Colors */
    --white: #F0F3FA;
    --grey: #D5DEEF;
    --light_blue: #8AAEED;
    --blue: #628ECB;
    --dark_blue: #395886;
    --beige: #FFEED9;

    /* Transition */
    --fast: .2s;

    /* Device sizes */
    /* Sizes where taken from: https://tailwindcss.com/docs/responsive-design */
    --s: 640px;
    --m: 768px;
    --l: 1024px;
    --xl: 1280px;
    --xxl: 1536px;
}

html{
    scroll-behavior: smooth;
}

/* Variables */
:root{
    /* Header height */
    --header_height: 13vh;

    /* Colors */
    --white: #F0F3FA;
    --grey: #D5DEEF;
    --light_blue: #8AAEED;
    --blue: #628ECB;
    --dark_blue: #395886;
    --beige: #FFEED9;

    /* Transition */
    --fast: .2s;

    /* Device sizes */
    /* Sizes where taken from: https://tailwindcss.com/docs/responsive-design */
    --s: 640px;
    --m: 768px;
    --l: 1024px;
    --xl: 1280px;
    --xxl: 1536px;
}

html{
    scroll-behavior: smooth;
}
