*, *::before, *::after {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    background-color:aliceblue;
    text-align: center;
  }
  
  .carousel {
    width: 100%;
    height: 60vh;
    position: relative;
  }
  
  .carousel > ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: .2s opacity;
  }
  
  .slide > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  
  .slide[data-active] {
    opacity: 1;
    z-index: 1;
    transition-delay: 0ms;
  }
  
  .bars-carousel-button {
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    font-size: 4rem;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, .5);
    cursor: pointer;
    border-radius: .25rem;
    padding: 0 .5rem;
    background-color: rgba(0, 0, 0, .1);
  }
  
  .bars-carousel-button:hover,
  .bars-carousel-button:focus {
    color: white;
    background-color: rgba(0, 0, 0, .2);
  }
  
  .bars-carousel-button:focus {
    outline: 1px solid black;
  }
  
  .bars-carousel-button.prev {
    left: clamp(2.25rem, 2.163rem + 0.4348vw, 2.5rem);
  }
  
  .bars-carousel-button.next {
    right: clamp(2.25rem, 2.163rem + 0.4348vw, 2.5rem);
  }

  .bars-location h2{
    color: var(--dark_blue);
  }

  .bars-location iframe{
    width: calc(100% - calc(2 * clamp(2.25rem, 2.163rem + 0.4348vw, 2.5rem)));
  }